doctype
html
  head
    title OCRize
    link(rel='stylesheet', href='bootstrap.css', type='text/css')

    style.
      body {
        font: 14px "Helvetica Neue", Helvetica;
        padding: 50px;
      }
  body
    h1(class='page-header') OCRize
    div(class='container')
        div(class='row')
            div(class='col-md-4')
                p Enter image URL and then click the OCR button
                input(id='search_field', type='search', class='form-inline form-group form-control')
                button(class='btn btn-primary') OCR
            div(id='results' class='col-md-8')
            script(src='client.js')
